.navbar {
    background: #B9D2E3;
}

.body {
    padding: 0;
    background: #081E50;
    font-family: 'DM Sans', sans-serif;
}

.fullwidth {
    width: 100%;
}

.logo-import {
    background: url('images/FinalizedLogo.png') no-repeat;

    /*margin-right: 20%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-top: 5%;*/
}

.headshot {
    width: 100px;
    margin-right: 5%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}


/*
CSS from https://bootstrap-menu.com/detail-autohide.html
*/
.scrolled-up {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-down {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.image-wrapper {
    display: inline-block; /* Display elements side-by-side */
    width: 20%; /* Adjust width as needed */
    text-align: center; /* Center-align the content */
    margin: 0 2%; /* Add some space between the image wrappers */
    vertical-align: top; /* Align the top edges of the elements */
}
.image-wrapper img {
    max-width: 100%; /* Ensure images don't exceed their container width */
}

.subtext {
    font-size: 10px;
}

.p-margin {
    margin-left: 10%;
    margin-right: 10%;
}